#loginbox {
    width: 350px;
    .el-input {
        width: 300px;
    }
    div.login_btn_div {
        width: 300px;
        .el-button {
            padding-right: 20px;
            float: right;
        }
    }
}
